<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROG2 | MARKET</title>
    <link rel="stylesheet" href="home/assets/styles/reset.css" type="text/css">
    <link rel="stylesheet" href="home/assets/styles/sign_in-register.css" type="text/css">
    <script>
    async function register() {
      const username = document.getElementsByName('username')[0].value;
      const password = document.getElementsByName('password')[0].value;
      const password_confirm = document.getElementsByName('password_confirm')[0].value;

      const json = JSON.stringify({username: username, password: password,
      password_confirm: password_confirm });

      const result = await fetch('/registry', {
        method: 'POST',
    	  headers: {
    		'Content-Type': 'application/json'
    		},
    		body: json
    	}).then((res) => res.json());

        alert(result.msg);
    }
    </script>
</head>
<body>
    <header>
      <div class="title">
        <a href="/home">PROG2 | MARKET</a>
      </div>
    </header>
    <div class="container">
      <main>
        <h1>Register</h1>
        <fieldset>
          <form method="post" action="javascript:void(0);" id="reg-form" onsubmit="register()">
            <table>
              <tr>
                <td><input type="text" name="username" placeholder="Username" required></td>
              </tr>
              <tr>
                <td><input type="password" name="password" placeholder="Password" required></td>
              </tr>
              <tr>
                <td><input type="password" name="password_confirm" placeholder="Confirm password" required></td>
                <td><input type="submit" value="Register"></td>
              </tr>
            </table>
          </form>
        </fieldset>
        <span><a href="/home">back to the main page</a></span>
      </main>
    </div>
    <footer>
      <div class="copyright">(c) Made by Csaba Székely.</div>
    </footer>
  </body>
</html>
