<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROG2 | MARKET</title>
    <link rel="stylesheet" href="home/assets/styles/reset.css" type="text/css">
    <link rel="stylesheet" href="home/assets/styles/sign_in-register.css" type="text/css">
    <script>
    function setCookie(cname,cvalue,exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    async function sign_in() {
      const username = document.getElementsByName('username')[0].value;
      const password = document.getElementsByName('password')[0].value;

      const json = JSON.stringify({username: username, password: password});

      const result = await fetch('/signing_in', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: json
      }).then((res) => res.json());

      if (result.status == 'ok') {
        window.location.replace('/home');
        setCookie("username", result.username, 365);
        alert(result.msg);
      }
      else {
        alert(result.msg);
      }
    }
    </script>
</head>
<body>
    <header>
      <div class="title">
        <a href="/home">PROG2 | MARKET</a>
      </div>
    </header>
    <div class="container">
      <main>
        <h1>Sign in</h1>
        <fieldset>
          <form action="javascript:void(0);" id="sign_in-form" method="post" onsubmit="sign_in()">
            <table>
              <tr>
                <td><input type="text" name="username" placeholder="Username" required></td>
              </tr>
              <tr>
                <td><input type="password" name="password" placeholder="Password" required></td>
                <td><input type="submit" value="Sign in"></td>
              </tr>
            </table>
          </form>
        </fieldset>
        <span><a href="/home">back to the main page</a></span>
      </main>
    </div>
    <footer>
      <div class="copyright">(c) Made by Csaba Székely.</div>
    </footer>
  </body>
</html>
